/.idea
/.venv
/000001Eduson_-_Эффективное_обучение_-_1_-_Как_разобраться_в_новой_теме.pdf
/000002Eduson_-_Как_разобраться_в_новой_теме_-_Деление_на_блоки.pdf
/000003the_personal_mba_mail.pdf
/Eduson_-_Как_выстроить_план_обучения_-_Интервальное_повторение.pdf
/HW_РEP8_compressed.pdf
/NumberRepresent.pdf
/python-developer-roadmap.png
/Soft_Skills_Список_литературы_и_читательский_дневник_Eduson.pdf
/Воркбук_Основы_программирования.pdf
/книги.txt
/Конспект_Кто_такой_Python-разработчик_и_чем_он_занимается.pdf
/Конспект_Что_нужно_знать_о_профессии_разработчика.pdf
/Конспект_Что_такое_алгоритмы.ppsx
/Конспект_Что_такое_интернет.pdf
/Сравнительная таблица сред разработки.pdf
/Сравнительная таблица языков программирования.pdf
/Трекер_учебы.pdf
Untitled-1.ipynb
